<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Main Page</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.0/css/bootstrap.min.css"/>
</head>
<body>
<h2>hello world!!</h2>
<button class="btn btn-primary registration">사용자 등록</button>

<button class="btn btn-primary memberList">사용자 조회</button>

<script>
let memberlist = document.querySelector(".memberList");
memberlist.onclick =function(){
location.href="/members"
}

let registrationPage = document.querySelector(".registration");

registrationPage.onclick = function(){
location.href="/register"
}
</script>
</body>
</html>


